body {
    min-height: 100vh;
    background-color: #222123;
}

.form {
    background-color: #363634;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 0px;
    margin: 0;
}

.title-form {
    color: #828183;
    padding: 0;
    margin: 30px 50px;
}

.input-password {
    border: none;
    border-radius: 0%;
    padding: 20px;
    background-color: #222123;
    color: #fff;
    font-size: 20px;
    width: 90%;
}

.input-password:focus {
    background-color: #222123;
    box-shadow: none;
    color: #fff;
}

.button-hide {
    background-color: #363634;
    color: #fff;
    border: 10px solid #222123;
    font-weight: bold;
    padding: 10px 15px;
    width: 100px;
    font-size: 14px;
}

.passWordStrength {
    margin: 40px 0px 20px;
    width: 300px;
    margin: 40px 0 0 40px;
}

.strongPassword {
    color: greenyellow;
    animation: neonGreen 1000s ease-in-out infinite;
}

.moderatePassword {
    color: yellow;
    animation: neonYellow 1000s ease-in-out infinite;
}

.weakPassword {
    color: red;
    animation: neonRed 1000s ease-in-out infinite;
}

.lineGreen{
    width:100%;
    margin:0;
    background:linear-gradient(green,#85FF64) bottom /* left or right or else */ no-repeat;
    background-size:100% 10px;
}

.lineYellow{
    width:50%;
    margin:0;
    background:linear-gradient(yellow,#FFD965) bottom /* left or right or else */ no-repeat;
    background-size:100% 10px;
}

.lineRed{
    width:20%;
    margin:0;
    background:linear-gradient(red,#FF3131) bottom /* left or right or else */ no-repeat;
    background-size:100% 10px;
}


.divInputButton{
    margin: 0px 50px;
}

@keyframes neonGreen {
    from {
        text-shadow: 0 0 50px #85FF64,
            0 0 20px #2BBF03,
            0 0 100px #2BBF03;
    }
}

@keyframes neonYellow {
    from {
        text-shadow: 0 0 50px yellow,
            0 0 20px yellow,
            0 0 100px yellow;
    }
}

@keyframes neonRed {
    from {
        text-shadow: 0 0 50px red,
            0 0 20px red,
            0 0 100px red;
    }
}
  
@media (max-width: 750px) {
    .input-password {
        width: 70%
    }

    .title-form {
        font-size: 20px;
    }

    .button-hide {
        font-size: 12px;
    }
    
  }

  #box {
    height: 70px;
    width: 70px;
    position: relative;
    border-bottom: 2px solid #0004ff;
    background: #cccaca;
  }
  
  #borderLeft {
    border-left: 2px solid #0004ff;
    position: absolute;
    top: 50%;
    bottom: 0;
  }